register/static/register/vendors/* linguist-vendored
register/static/register/vendors/font-awesome/css/* linguist-vendored
register/static/register/vendors/@coreui/icons/css/* linguist-vendored
register/static/register/vendors/flag-icon-css/css/* linguist-vendored
register/static/register/vendors/font-awesome/css/* linguist-vendored
register/static/register/vendors/pace-progress/css/* linguist-vendored
register/static/register/vendors/simple-line-icons/css/* linguist-vendored

