{% extends "register/_base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="card card-accent-primary">
	<div class="card-header">プロフィール変更</div>
	<div class="card-body">
        <form action="" method="POST">
            {{ form.non_field_errors }}
            <table class="table">
                <tbody>
                    {% bootstrap_form form layout='horizontal' %}
                </tbody>
            </table>
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-primary">保存</button>
            {% endbuttons %}
        </form>
        <button style="float:right" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" id="id_user_delete">ユーザーアカウント削除</button>
        {# 削除を確認するモーダル ダイアログ #}
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <p>本当にユーザーアカウントを削除しますか？</p>
              </div>
              <div class="modal-footer">
                <a href="{% url 'register:user_delete' user.pk %}" class="btn btn-outline-danger" id="del_url">OK</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>                                
    </div>
</div>
{% endblock %}