{% extends "./_base.html" %}
{% block content %}
<div class="card card-accent-primary">
	<div class="card-header">連絡先情報の削除</div>
	<div class="card-body">
        <p>このデータを削除します。よろしいですか？</p>
    
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        <a class="btn btn-outline-secondary" onClick="history.back();">戻る</a>
                        <input type="submit" class="btn btn-outline-danger" value="削除" />
                    </div>
                </div>
            </div>
    		{% include "./addressinfo_card.html" %}
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        <a class="btn btn-outline-secondary" onClick="history.back();">戻る</a>
                        <input type="submit" class="btn btn-outline-danger" value="削除" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}