{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>FreeSFA Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var markers = {{ markers|safe }};
      var map;
      function initMap() {
        // The location of Uluru
        // The map, centered at Uluru
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16, 
          scaleControl: true ,
          center: {lat:markers[0].lat, lng:markers[0].lng}
        });
        var pinImage = new google.maps.MarkerImage('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|FFC107|');
        var pinImage_visited = new google.maps.MarkerImage('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|4DBD74|');
        markers.forEach(function(val, index, arr) {
          if (val.visited) {
            var myImage = pinImage_visited;
          } else {
            var myImage = pinImage;
          }
          var marker = new google.maps.Marker({
            position: {lat:val.lat, lng:val.lng},
            map: map,
            icon: myImage
          });
          google.maps.event.addListener(marker, 'click', function (event) {
            new google.maps.InfoWindow({
              content: '<p><strong>' + val.name + '</strong></p>' + '<p>' + val.address + '</p>'
            }).open(marker.getMap(), marker);
          });
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>
  </body>
</html>
